.chat__header {
  background: darkgrey;
  
  background: linear-gradient(
    90deg,
    rgb(34, 34, 34) 15%,
    rgb(31, 174, 174) 90%
  );
  width: 100%;
  text-align: center;
  color: rgb(216, 216, 216);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.heading {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  
}
